html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
}
:root {
    interpolate-size: allow-keywords;
  --title-font-size: clamp(1.5rem, 1.1053rem + 1.2632vw, 3rem);
  --p-font-size: clamp(0.5rem, 1rem + 0.4211vw, 2rem);
  --font-family-text: "Exo 2", sans-serif;
  --light-gray: rgb(217, 217, 217);
  --light-purp: rgb(83, 56, 158);
  --dark-purp: rgb(56, 36, 105);
}

@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap");

/* ||  UTILITY CLASSES ||*/
.margin-side {
  margin-inline: 1.5rem;
}

.margin-top {
  margin-block: 2rem;
}

.padding-top {
  padding-block: 2rem;
}

.title-center {
  text-align: center;
}

.section-title {
  font-family: var(--font-family-text);
  padding-bottom: 2rem;
  font-size: var(--title-font-size);
}

.center {
  margin: 0 auto;
}

.brand {
  font-family: "Goldman", sans-serif;
  font-weight: 400;
}

.row-limit-size {
  max-width: 1400px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
}

.text-formatting {
  padding-block-end: 2rem;
  max-width: 1000px;
  font-family: "Exo 2", sans-serif;
  font-size: var(--p-font-size);
}

span {
  font-family: var(--font-family-text)
}

/*  ||  HEADER  ||  */

header {
  background: radial-gradient(var(--light-purp) 20%, var(--dark-purp));
  text-align: center;
    box-shadow:
  inset 0 0 20px #fff,
  inset 5px 0 20px #f0f,
  inset -5px 0 20px #f0f,
  inset 5px 0 20px #0ff,
  inset -5px 0 20px #0ff;
}

header img {
  width: 20rem;
}

.header-hero {
  background: url(../img/Mood-Mirror-480w.jpg) top/cover no-repeat;
  height: calc(100vh - 60px);
}

#main-wrap {
  background: linear-gradient(
    var(--light-purp),
    var(--light-gray) 30% 60%,
    var(--dark-purp)
  );
  box-shadow:
  inset 0 0 50px #fff,
  inset 20px 0 80px #f0f,
  inset -20px 0 80px #ff00ff,
  inset 20px 0 250px #f0f,
  inset -20px 0 250px #0ff,
  0 0 50px #fff,
  -10px 0 80px #f0f,
  10px 0 80px #0ff;
}

/*  ||  DESCRIPTION  ||  */
#description, #how-it-works {
  color: var(--light-gray);
}

#description h1 {
  font-size: var(--title-font-size);
}


/*   ||   FEATURES   ||   */

summary {
  list-style-position: outside;
  cursor: pointer;
}

details {
  max-width: 210px;
  overflow: hidden;
  display: block;
  text-align: center;
  font-family: var(--font-family-text);
  font-size: var(--p-font-size);
}

details::details-content {
  text-align: start;
  font-size: 1rem;
  block-size: 0;
  transition: block-size 1s, content-visibility 1s;
  transition-behavior: allow-discrete;
}

details[open]::details-content {
  block-size: auto;
}

.grid-items {
  display: grid;
  grid-template-columns: 150px 210px;
  place-items: center;
  gap: 1rem;
}

.grid-container {
  display: grid;
  place-self: center;
  gap: 4rem;
}

@media (min-width: 800px) {
  .header-hero {
    background: url(../img/Mood-Mirror-800w.jpg) top/cover no-repeat;
  }
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}

@media (min-width: 1200px) {
  .header-hero {
    background: url(../img/Mood-Mirror-1024w.jpg) top/cover no-repeat;
    height: 1024px;
  }
  .grid-container {
    row-gap: 5rem;
  }
}

@media (min-width: 1400px) {
  .header-hero {
    background: url(../img/Mood-Mirror-1440w.jpg) top/cover no-repeat;
  }
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
  }
}

@media (min-width: 2000px) {
  .header-hero {
    background: url(../img/Mood-Mirror.jpg) top/cover no-repeat;
    height: 1500px;
  }
}
